<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="/Styles/bootstrap/bootstrap.css">
    <script src="/Scripts/angular/angular.js" type="text/javascript"> </script>
    <script src="/Scripts/angular/angular-route.js" type="text/javascript"> </script>
    <script src="/Scripts/angular/angular-resource.js" type="text/javascript"> </script>
    <script src="/Script/admin/home.js" type="text/javascript"> </script>  
</head>
<body>
    <ul class="list-group">
        <li class="list-group-item"><a href="/Template/Admin/ManageUser.html">Пользователи</a></li>
        <li class="list-group-item"><a href="/Template/Admin/ManageTheme.html">Темы</a></li>
        <li class="list-group-item"><a href="/Template/Admin/ManageClass.html">Классы</a></li>
        <li class="list-group-item"><a href="/Template/Admin/ManageTest.html">Тесты</a></li>
    </ul>

</body>
</html>
