<md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Пользователи">
                <md-content class="md-padding">                   
                    <div ng-include="template.user"></div>
                </md-content>
            </md-tab>
            <md-tab label="Темы">
                <md-content class="md-padding">                    
                    <div ng-include="template.theme"></div>
                </md-content>
            </md-tab>
            <md-tab label="Классы">
                <md-content class="md-padding">                   
                    <div ng-include="template.class"></div>
                </md-content>
            </md-tab>
            <md-tab label="Тесты">
                <md-content class="md-padding">                   
                    <div ng-include="template.test"></div>
                </md-content>
            </md-tab>
        </md-tabs>
</md-content>
