<div ng-controller="manageClassCtrl">
    <table class="table table-striped table-bordered" style="width: 300pt">
        <thead>
            <tr>
                <td>Номер</td>
                <td>Количество людей</td>
                <td>Управление</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in Classes">
                <td>{{ item.NumberOfClass }}</td>
                <td>{{ item.CountOfPeople }}</td>
                <td>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="removeClass($index)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped table-bordered" style="width: 300pt">
        <tr>
            <td><input type="number" ng-model="newClassNumber" /></td>
            <td>
                <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="addClass()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    </table>

</div>