<div ng-controller="manageThemeCtrl">
    <table class="table table-striped table-bordered" style="width: 300pt">
        <thead>
            <tr>
                <td>Название</td>
                <td>Для класса</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in Themes">
                <td>{{ item.Synonym }}</td>
                <td>{{ item.ClassNumber }}</td>
                <td>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="removeTheme($index)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped table-bordered" style="width: 300pt">
        <tr>
            <td><input type="text" ng-model="newThemeSynonym" /></td>
            <td><select ng-model="classes" ng-options="item.NumberOfClass for item in Classes"></select></td>
            <td>
                <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="addTheme()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    </table>
</div>