<div ng-controller="manageTestCtrl">
    <h1>Управление вопросами тестов</h1>
    <p class="titleInfo">Здесь вы можете удалять и изменять вопросы</p>
    <h2 class="subtitle">Просмотр / Изменения</h2>
    <div ng-show="test.inProcess">
        <md-progress-circular class="md-accent circularRound" md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-show="test.Empty && !test.inProcess">
        <p class="emptyMessage">Здесь будут отображены все вопросы</p>
    </div>
    <div ng-show="!test.inProcess && !test.Empty">
        <table class="table table-striped table-bordered testTable">
            <thead>
            <tr>
                <td>Класс</td>
                <td>Тема</td>
                <td>Вопрос</td>
                <td>Тип</td>
                <td>Удаление</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in test.Questions">
                <td>{{ item.NumberOfClass }}</td>
                <td>{{ item.Theme }}</td>
                <td>{{ item.Text }}</td>
                <td>{{ item.Type }}</td>
                <td>
                    <button type="button" class="btn btn-default manageOneButton" aria-label="Left Align" ng-click="test.removeQuestion(item.Id)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <md-tooltip md-direction="right">Удалить</md-tooltip>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2 class="subtitle">Добавление</h2>
    <div ng-show="test.inProcess">
        <md-progress-circular class="md-accent circularRound" md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-show="!test.inProcess" class="divNewQuestion">
        <div class="newQuestionParam">
            <label class="questionParamStyle">Класс</label>            
            <md-select placeholder="Класс" ng-model="test.class" class="inputSelect">
                <md-option ng-repeat="item in test.Classes" value="{{item.Id}}">{{item.NumberOfClass}}</md-option>
            </md-select>
        </div>
        <div class="newQuestionParam">
            <label class="questionParamStyle">Тема</label>
            <md-select placeholder="Тема" ng-model="test.theme" class="inputSelect">
                <md-option ng-repeat="item in test.Themes" value="{{item.Id}}">{{item.Synonym}}</md-option>
            </md-select>
        </div>
        <div class="newQuestionParam">
            <label class="questionParamStyle">Тип</label>
            <md-select placeholder="Тип" ng-model="test.type" class="inputSelect">
                <md-option ng-repeat="item in test.Types" value="{{item.Name}}">{{item.Synonym}}</md-option>
            </md-select>
        </div>    
        <div class="newQuestionForm">
            <label class="questionParamStyle">Вопрос</label>
            <md-input-container flex>
                <label>Текст вопроса</label>
                <textarea ng-model="test.questionText" columns="1" md-maxlength="500"></textarea>
            </md-input-container>
        </div>
        <div class="newQuestionAnswersForm">
            <label class="questionParamStyle">Ответ(ы)</label>
            <div ng-show="test.type == 'test'">
                <table class="table-striped table-bordered answersTestTable">
                    <tr ng-repeat="item in test.testAnswers">
                        <td style="width: 10%; text-align: center">{{$index + 1}}</td>
                        <td style="width: 90%">
                            <md-input-container class="inputTestAnswers" flex>
                                <label>Текст ответа</label>
                                <input ng-model="item.Text">
                            </md-input-container>
                        </td>
                        <td style="width: 10%; text-align: center">
                            <md-checkbox ng-model="item.IsRight" aria-label="Checkbox 1"></md-checkbox>
                        </td>
                    </tr>
                </table>
                <div class="manageTestTextAnswers">
                    <md-button class="md-raised" style="width: 50pt;" ng-click="test.addEmptyTestAnswers()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <md-tooltip md-direction="right">Добавить строчку</md-tooltip>
                    </md-button>
                    <md-button class="md-raised" style="width: 50pt; float:right" ng-click="test.createTestQuestion()">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <md-tooltip md-direction="left">Создать вопрос</md-tooltip>
                    </md-button>
                </div>
            </div>
            <div ng-show="test.type == 'drag and drop'">
                Перетаскивание
            </div>
            <div ng-show="test.type == 'accent'">
                Ударение
            </div>
            <div ng-show="test.type == 'insert letter'">
                Вставка буквы
            </div>
            <div ng-show="test.type == 'morphological analysis'">
                Морфологический разбор
            </div>
            <div ng-show="test.type == 'riddle'">
                Загадка
            </div>
            <div ng-show="test.type == 'morphemic analysis'">
                Морфемный разбор
            </div>
        </div>               
    </div>
</div>