
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Master</title>
</head>
<body>
<div style="font-size: 25px;"> БЛАБЛА
    </div>
</body>
</html>
