.userHeader {
    width: 100%;
    height: 50pt;
    background-color: blue;
}

.userFooter {
    width: 100%;
    height: 25pt;
    background-color: blue;
}

.userBody {
    width: 80%;
    min-height: 600pt;
    margin: 0 auto;
    background-color: aquamarine;
}