@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
<div>
    <ul>
        <li>Редактирование пользователей</li>
        <li>Классы</li>
        <li>Темы</li>
        <li>Упражнения</li>       
    </ul>
</div>
</body>
</html>
