@{
    Layout = null;
}
<!DOCTYPE html>
<html>    
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Default</title>
    <style>
        body {
            background: url(/Content/images/start_page.png) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .btn-start {
            position: fixed;
            font-size: 50px;
            color: white;
            left: 50%;
            top: 53%;            
        }
    </style>
</head>
<body>
<div class="btn-start">
    <a href="/Template/User/Authorization.html">Начать</a>
</div>
</body>
</html>
