@{
    Layout = null;
}

<!DOCTYPE html>

<html>    
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Default</title>
    <script src="~/Scripts/angular/angular.js" type="text/javascript"> </script>
    <script src="~/Scripts/angular/angular-route.js" type="text/javascript"> </script>
    <script src="~/Scripts/angular/angular-resource.js" type="text/javascript"> </script>       
</head>
<body>
<div>
    Home
    <a href="/Template/Admin/AdminHome.html">На страницу админа</a>
</div>
</body>
</html>
