
@{
    //Layout = "~/Views/Shared/Master.cshtml";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManageUser</title>
</head>
<body>
<div>
    Управление пользователями
</div>
</body>
</html>
