<!DOCTYPE html>
<html>
<head>
    <title>Остров</title>
    <link rel="stylesheet" href="/Styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/Styles/angular-material/angular-material.css">
    <link rel="stylesheet" href="/Styles/user/UserHome.css">
    <script src="/Scripts/angular/angular.js" type="text/javascript"> </script>
    <script src="/Scripts/angular/angular-route.js" type="text/javascript"> </script>
    <script src="/Scripts/angular/angular-resource.js" type="text/javascript"> </script>
    <script src="/Scripts/angular/angular-animate.js" type="text/javascript"> </script>
    <script src="/Scripts/angular/angular-aria.js" type="text/javascript"> </script>
    <script src="/Scripts/angular-material.js" type="text/javascript"> </script>
    <script src="/Script/user/bonus.js" type="text/javascript"> </script>
    <script src="/Script/common/web_services.js" type="text/javascript"> </script>
</head>
<body ng-app="BonusModule">
    <div class="userHeader">

    </div>
    <div class="userBody" layout="row">
        <div flex>
            [flex]
        </div>
        <div flex>
            [flex]
        </div>
        <div flex>
            [flex]
        </div>
    </div>
    <div class="userFooter">
        Русский язык 2015
    </div>
</body>
</html>
